@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');
@import 'tailwindcss';

:root {
  --white: #fff;
  --black: #000;
  --grey: #d8d8d8;
  --blue-100: #e5eaf1;
  --blue-500: #f6faff;
  --border-magenta: magenta;
  --josefin: 'Josefin Sans', sans-serif;
  --alata: 'Alata', sans-serif;
  --josefin-fw: 300;
  --alata-fw: 400;
}

html,
body {
  font-family: var(--josefin);
  font-weight: var(--josefin-fw);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

.border-magenta {
  border: 1px solid var(--border-magenta);
}

/* .container {
  padding: 62px 160px;
  display: grid;
  gap: 120px;
  height: 100%;
} */

.header-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.header-nav {
  color: var(--white);
  font-family: var(--alata);
  font-weight: var(--alata-fw);
  font-size: 15px;
  line-height: 165%;
  letter-spacing: 0;
}

.hero-container {
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tagline {
  font-size: 72px;
  font-weight: var(--josefin-fw);
  line-height: 100%;
  letter-spacing: 0;
  border: 2px solid var(--white);
  padding: 40px;
  width: 650px;
  height: 280px;
}

/* END HEADER / HERO CONTAINER */

.body-container {
  height: 100%;
}

.blurb-container-row {
  position: relative;
}

.blurb-image {
  width: 730px;
  height: 100%;
}

.blurb {
  width: 634px;
  height: 320px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0px;
  padding: 96px 0px 0 96px;
}

.blurb-body {
  font-family: var(--alata);
  font-weight: var(--alata-fw);
  line-height: 165%;
  color: #000;
  opacity: 50%;
  padding-right: 50px;
}

/* END BLURB CONTAINER */

.gallery-container {
}

.gallery-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 15px 40px;
}

.gallery-image {
  width: 100%;
}

.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: var(--white);
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.footer-nav {
  color: var(--white);
  background-color: var(--black);
  font-family: var(--alata);
  font-weight: var(--alata-fw);
  font-size: 15px;
  line-height: 165%;
  letter-spacing: 0;
}

/* .footer-copyright,
.footer-icons {
  border: 1px solid magenta;
} */

.footer-icons {
  width: 60%;
  margin-left: 100px;
}

.footer-text {
  color: var(--white);
  opacity: 50%;
}
